@using CoreCode.Web.UI.Models.Controls
@using CoreCode.Web.UI.Models.Helpers
@{
    ViewBag.Title = "Home Page";
}

@{
    Layout = "~/Views/Shared/GeneralLayout.cshtml";
}

@section pageCss
{
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500,700,900" rel="stylesheet">
    <!-- Plugins -->
    <link rel="stylesheet" href="~/Resources/css/plugins.css" />
    <!-- Core Style Css -->
    <link rel="stylesheet" href="~/Resources/css/style.css" />
}


    <body>
        <!-- =====================================
    ==== Start Loading -->
        <div class="loading">
            <div class="text-center middle">
                <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
            </div>
        </div>
        <!-- End Loading ====
    ======================================= -->
        <!-- =====================================
    ==== Start Navbar -->
        <nav class="navbar navbar-expand-lg">
            <div class="container">
                <!-- Logo -->
                <a class="logo" href="#">
                    <img src="/Resources/img/logo-lights.png" alt="logo">

                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="icon-bar"><i class="fas fa-bars"></i></span>
                </button>
                <!-- navbar links -->
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link active" href="#" data-scroll-nav="0"> Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" data-scroll-nav="1"> Sobre Nosotros</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" data-scroll-nav="2"> Viaje</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" data-scroll-nav="6"> Ofertas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" id="session-label-link" data-toggle="modal" data-target="#loginModal"> Inicio Sesión</a>
                        </li>
                       


                    </ul>
                </div>
            </div>
        </nav>
        <!-- End Navbar ====
    ======================================= -->
        <!--Login Modal-->
        @{ Html.RenderPartial("~/Views/PartialViews/CustomComponentContent/LoginComponent.cshtml");}
        @{ Html.RenderPartial("~/Views/PartialViews/CustomComponentContent/RegisterUser.cshtml");}
        <!---->
        <!-- =====================================
    ==== Start Header -->
        <header class="header valign bg-img" data-scroll-index="0" data-overlay-dark="7" data-background="/Resources/img/bg7.jpg" data-stellar-background-ratio="0.5">
            <div class="container">
                <div class="text-center caption mt-30">
                    <h4>International</h4>
                    <h1>Sony AirLines Flights</h1>
                    <div class="row">
                        <div class="offset-md-1 col-md-10 offset-lg-2 col-lg-8">
                            <p>La plataforma de registros de vuelos más grande de Centro América</p>
                        </div>
                    </div>
                    <!--  <a href="#0" class="butn butn-light mt-30">
                    <span>Get Started</span>
                </a> -->
                </div>
            </div>
        </header>
        <!-- End Header ====
    ======================================= -->
        <!-- =====================================
    ==== Start Hero -->
        <section class="hero" data-scroll-index="1">
            <div class="section-padding pos-re">
                <div class="container">
                    <div class="row">
                        <div class="offset-lg-2 col-lg-8 offset-md-1 col-md-10 text-center mb-80">
                            <h4 class="extra-title">Sobre <span>Nosotros</span></h4>
                            <p>Con <span>50 años</span> de trayectoría, somos la cadena de administración de aeropuertos más grande de centro américa, estamos presentes en 10 países, hemos administrado más de <span> 100,000 vuelos </span> y hemos movilizado a más de <span>10,000,000 de personas</span> al rededor del mundo.</p>
                        </div>
                        <div class="feat-item mb-md50 col-lg-4">
                            <div class="text-center">
                                <span class="icon icon-basic-flag1"></span>
                                <h5>Internacional</h5>
                                <h6>Más de 160 países</h6>
                                <p>Alemania, Costa Rica, España, Japón, Argentina, Brasil, República Dominicana, Holanda, Colombia, México</p>
                            </div>
                        </div>
                        <div class="feat-item active mb-md50 col-lg-4">
                            <div class="text-center">
                                <span class="icon icon-basic-world"></span>
                                <h5>Oneworld</h5>
                                <h6>Conexiones</h6>
                                <p>Cuenta con una red global de rutas que cubre más de 10.000 destinos en más de 160 países y más de 600 salones VIP</p>
                            </div>
                        </div>
                        <div class="feat-item col-lg-4">
                            <div class="text-center">
                                <span class="icon icon-basic-watch"></span>
                                <h5>Años de Solidez</h5>
                                <h6>Desde 1926</h6>
                                <p>Más de 50 años de trayectoria y 10,000,000 de horas vuelo, respaldan nuestra calidad de servicio.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="curve curve-gray-b curve-bottom"></div>
            </div>
            <div class="tabs-section section-padding bg-gray">
                <div class="container">
                    <div class="row">

                        <div class="tab-content col-lg-12" id="pills-tabContent">
                            <div class="tab-pane fade show active" id="tab1" role="tabpanel" aria-labelledby="pills-home-tab">
                                <div class="row">
                                    <div class="left col-lg-6">
                                        <div class="about box-white">
                                            <h5 class="title">Misión</h5>
                                            <p>Ser la cadena de administración de aeropuertos numero uno del mundo ofreciendole al cliente la mayor confianza, respaldo y garantia de su destino.</p>

                                            <!-- Skills -->
                                            <div class="skills mt-40">
                                                <div class="skill-item mb-30">
                                                </div>
                                                <div class="skill-item mb-30">
                                                    <h5 class="title">Visión</h5>
                                                    <p>Garantizar que su experiencia de vuelo sea la mejor, aprovechando la calidad y confianza del servicio de atención más completo posible.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 image">
                                        <div class="img">
                                            <img src="~/Resources/img/7.jpg" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Hero ====
    ======================================= -->
        <!-- =====================================
    ==== Start Process -->
        <section class="" data-scroll-index="2">
            <div class="process section-padding bg-img bg-fixed pos-re text-center" data-overlay-dark="7" data-background="/Resources/img/bg11.jpg">
                <div class="container">
                    <div class="row">
                        <div class="section-head offset-md-2 col-md-8 offset-lg-3 col-lg-6">
                            <h4><span>Compre</span> Fácil</h4>
                            <p>Hemos simplificado la forma de viajar en 4 simples pasos</p>
                        </div>
                        <div class="full-width clearfix"></div>
                        <div class="col-lg-3 col-md-6">
                            <div class="item first mb-md50">
                                <img src="~/Resources/img/arrow.png" class="tobotm" alt="">
                                <span class="icon icon-basic-lightbulb"></span>
                                <div class="cont">
                                    <h3>01</h3>
                                    <h6>Seleccione</h6>
                                    <p>Seleccione el lugar al que siempre ha deseado viajar.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="item odd mb-md50">
                                <img src="~/Resources/img/arrow.png" alt="">
                                <span class="icon icon-basic-archive"></span>
                                <div class="cont">
                                    <h3>02</h3>
                                    <h6>Compre</h6>
                                    <p>Busque los boletos, dentro de las miles de compañías con las que tenemos convenios.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="item mb-sm50">
                                <img src="~/Resources/img/arrow.png" class="tobotm" alt="">
                                <span class="icon icon-basic-book-pencil"></span>
                                <div class="cont">
                                    <h3>03</h3>
                                    <h6>Revise su reserva</h6>
                                    <p>Después de su compra verifique que le haya llegado la reserva, verifique que sus datos y la fecha de viaje sean correctos.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="item odd">
                                <span class="icon icon-basic-case"></span>
                                <div class="cont">
                                    <h3>04</h3>
                                    <h6>Viaje</h6>
                                    <p>Disfrute de su viaje de una forma tranquila y segura, International Delta Airlines Flights se encarga de lo demas.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="curve curve-gray-t curve-top"></div>
                <div class="curve curve-bottom"></div>
            </div>
        </section>
        <!-- End Process ====
    ======================================= -->
        <!-- =====================================
    ==== Start Blog -->
        <!-- End Blog ====
    ======================================= -->
        <!-- =====================================
    ==== Start Call-Action -->
        <!-- End Call-Action ====
    ======================================= -->
        <!-- =====================================
    ==== Start Contact -->


        <section class="contact section-padding" data-scroll-index="6">
            <div class="container">
                <div class="section-head offset-md-2 col-md-8 offset-lg-3 col-lg-6">
                    <h4>Nuestras ofertas</h4>
                    <p>Precios finales: tasas, gastos de gestión y cargos del operador incluidos</p>

                </div>
                <div class="row">

                    <div class="col-lg-5">
                        <div class="contact-info mb-md50">
                            <h3>
                                !Precios que vuelan! 
                            </h3>
                            <p>Una oportunidad única para ver el mundo.</p>
                            <div class="item">
                                <span class="icon icon-basic-tablet"></span>
                                <div class="cont">
                                    <h6>Teléfono : </h6>
                                    <p>+506 2255-5522</p>
                                </div>
                            </div>
                            <div class="item">
                                <span class="icon icon-basic-mail-open-text"></span>
                                <div class="cont">
                                    <h6>Correo Electrónico : </h6>
                                    <p>sonyairlines@gmail.com</p>
                                </div>
                            </div>
                            <div class="item">
                                <span class="icon icon-basic-geolocalize-05"></span>
                                <div class="cont">
                                    <h6>Dirección : </h6>
                                    <p>150 metros al sur del multiplaza de escazu, edificio Gold, Escazu</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <!--Carousel Wrapper-->
                        <div id="carousel-example-2" class="carousel slide carousel-fade" data-ride="carousel">
                            <!--Indicators-->
                            <ol class="carousel-indicators">
                                <li data-target="#carousel-example-2" data-slide-to="0" class="active"></li>
                                <li data-target="#carousel-example-2" data-slide-to="1"></li>
                                <li data-target="#carousel-example-2" data-slide-to="2"></li>
                            </ol>
                            <!--/.Indicators-->
                            <!--Slides-->
                            <div class="carousel-inner" role="listbox">
                                <div class="carousel-item active">
                                    <div class="view">
                                        <img class="d-block w-100" src="https://rtvc-assets-radionacional-v2.s3.amazonaws.com/s3fs-public/senalradio/articulo-noticia/galeriaimagen/9008013895_5a53127df8_o.jpg"
                                             alt="First slide">
                                        <div class="mask rgba-black"></div>
                                    </div>
                                    <div class="carousel-caption">
                                        <h3 class="h3-responsive">Cartagena</h3>
                                        <h5>Vuelos: $178</h5>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <!--Mask color-->
                                    <div class="view">
                                        <img class="d-block w-100" src="https://www.diariovivo.com/wp-content/uploads/2018/12/Bariloche_Puente-Lagos-verano.jpg"
                                             alt="Second slide">
                                        <div class="mask rgba-black-strong"></div>
                                    </div>
                                    <div class="carousel-caption">
                                        <h3 class="h3-responsive">Bariloche</h3>
                                        <h5>Vuelos: $300</h5>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <!--Mask color-->
                                    <div class="view">
                                        <img class="d-block w-100" src="https://www.perutrilhainca.com/blog/wp-content/uploads/2017/10/lima-peru-758x426.jpg"
                                             alt="Third slide">
                                        <div class="mask rgba-black-slight"></div>
                                    </div>
                                    <div class="carousel-caption">
                                        <h2 class="h3-responsive">LIMA</h2>
                                        <h5>Vuelos: $278</h5>
                                    </div>
                                </div>
                            </div>
                            <!--/.Slides-->
                            <!--Controls-->
                            <a class="carousel-control-prev" href="#carousel-example-2" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carousel-example-2" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                            <!--/.Controls-->
                        </div>
                        <!--/.Carousel Wrapper-->
                    </div>
                </div>
            </div>
        </section>
        <!-- End Contact ====
    ======================================= -->
        <!-- =====================================
    ==== Start Footer -->
        <footer class="text-center pos-re">
            <div class="container">
                <!-- Logo -->
                <a class="logo" href="#">
                    <img src="~/Resources/img/logo-lights.png" alt="logo">
                </a>

                <p><a href="#">© 2019 Sony Air Lines, Inc. Todos los derechos reservados.</a></p>
            </div>
            <div class="curve curve-top curve-center"></div>
        </footer>
        <!-- End Footer ====
    ======================================= -->





        @section scripts{
            <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
            <!-- jQuery -->
            <script src="~/Resources/js/jquery-3.0.0.min.js"></script>
            <script src="~/Resources/js/jquery-migrate-3.0.0.min.js"></script>
            <!-- popper.min -->
            <script src="~/Resources/js/popper.min.js"></script>
            <!-- bootstrap -->
            <script src="~/Resources/js/bootstrap.min.js"></script>
            <!-- scrollIt -->
            <script src="~/Resources/js/scrollIt.min.js"></script>
            <!-- jquery.waypoints.min -->
            <script src="~/Resources/js/jquery.waypoints.min.js"></script>
            <!-- owl carousel -->
            <script src="~/Resources/js/owl.carousel.min.js"></script>
            <!-- jquery.magnific-popup js -->
            <script src="~/Resources/js/jquery.magnific-popup.min.js"></script>
            <!-- stellar js -->
            <script src="~/Resources/js/jquery.stellar.min.js"></script>
            <!-- isotope.pkgd.min js -->
            <script src="~/Resources/js/isotope.pkgd.min.js"></script>
            <!-- YouTubePopUp.jquery -->
            <script src="~/Resources/js/YouTubePopUp.jquery.js"></script>
            <!-- validator js -->
            <script src="~/Resources/js/validator.js"></script>
            <!-- custom scripts -->
            <script src="~/Resources/js/scripts.js"></script>
            <script src="~/Scripts/Views/Index.js"></script>

        }
