@using CoreCode.Web.UI.Models.Helpers
@section pageCss{
    <link rel="stylesheet" href="~/Scripts/TableHide.css" />
}

<script src="~/Scripts/Views/ControlActions.js"></script>
<script src="~/Scripts/Views/vAsignation.js"></script>
<script src="~/Scripts/Views/vCreateAirplane.js"></script>
@{
    /**/

    Layout = "~/Views/Shared/DashboardLayout.cshtml";

}

<div style="margin: 0 auto; width: 30%;">
    <h2 class="panel panel-primary">Lista de aviones</h2>
</div>
<div class="card border-secondary" style="margin-top: 50px; margin: 0 auto; width: 98%;">
    <div id="DropdownAndTable" style="margin: 0 auto; width: 98%" ;>
        
        @Html.GetTable("tblAirplans", "vAirplane", "BindFields", "", new List<string> { "Id", "Name", "License_Plate", "Capacity", "Model", "Brand", "Id_Airline" }, 
       new List<string> { "Id", "Nombre de avión","Placa", "Capacidad de asientos", "Modelo de avión", "Marca del avión", "Id_Airline"})
    </div>


</div>