@using CoreCode.Web.UI.Models.Helpers
@section pageCss{
    <link rel="stylesheet" href="~/Scripts/TableHide.css" />
}

<script src="~/Scripts/Views/ControlActions.js"></script>
<script src="~/environmentVariables.js"></script>
<script src="~/Scripts/Views/vAsignationAirline.js"></script>
@{
    /**/

    Layout = "~/Views/Shared/DashboardLayout.cshtml";

}

<div class="card border-secondary" style="margin-top: 50px; margin: 0 auto; width: 98%;">
    <div class="card-header">
        <div class="row pull-right">
            <div class="col-md-8">Asignaciones</div>
            <div class="col-xs-6 col-sm-4">
                @Html.GetConfirmButton("btnAsignationAirline", "Create", "vAsignationAirline", "", "Asignar")
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-lg-6">
                <div class="bs-component">
                    <form id="frmEdition">
                        <div class="row">
                            <div class="col-lg-6">
                                <p>
                                    Aerolínea
                                </p>
                                @Html.GetSelectDropdown("dropdownOriginAirline", "vAsignationAirline", "", "loadAirlineDropdown", "Comercial_name",
                                   new Dictionary<string, string>() {{ "Seleccione la aerolínea:", ""}})
                            </div>
                            <div class="col-lg-6">
                                <p>
                                    Aeropuerto
                                </p>
                                @Html.GetSelectDropdown("dropdownOriginAirport", "vAsignationAirline", "", "loadAirportDropdown", "Name",
                                   new Dictionary<string, string>() {{ "Seleccione el aeropuerto:", ""}})
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>