@using CoreCode.Web.UI.Models.Helpers
@section pageCss{
    <link rel="stylesheet" href="~/Scripts/TableHide.css" />
}

<script src="~/Scripts/Views/ControlActions.js"></script>
<script src="~/Scripts/Views/vAsignation.js"></script>
<script src="~/Scripts/Views/vFlight.js"></script>
@{
    /**/

    Layout = "~/Views/Shared/DashboardLayout.cshtml";

}

<div style="margin: 0 auto; width: 20%;">
    <h2 class="panel panel-primary">Lista de vuelos</h2>
</div>
<div class="card border-secondary" style="margin-top: 50px; margin: 0 auto; width: 98%;">
    <div id="DropdownAndTable" style="margin: 0 auto; width: 98%" ;>
        
        @Html.GetTable("tblFlights", "vFlight", "BindFields", "", new List<string> { "Id", "Airline_Id", "Origin_Airport_Id", "Destiny_Airport_Id", "Departure_Time", "Arrival_DateTime", "Id_Gate" }, 
       new List<string> { "Id", "Aerolinea", "Aeropuerto Origen", "Aeropuerto Destino", "Tiempo de salida", "Tiempo de llegada", "Puerta" })
    </div>


</div>